@import "tailwindcss";

:root {
  --foreground-rgb: 44, 62, 80;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 249, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}